<article class="venta-container">
  <section class="medicamentos-header" *ngIf="!swCompra">
    <input type="text" name="filtro" [(ngModel)]="filtro">

    <div>
      <fa-icon [icon]="searchIcon"></fa-icon>
    </div>
  </section>

  <section class="pago" *ngIf="items>0 && !swCompra">
    <button class="btn btn-warning" (click)="buy()">
      <label>{{items}}</label>

      <fa-icon [icon]="buyIcon"></fa-icon>
    </button>
  </section>

  <app-products [filtro]="filtro" (compra)="addItem($event)" *ngIf="!swCompra"></app-products>

  <app-compra [compras]="compras" *ngIf="swCompra"></app-compra>
</article>

