<article class="registro-container">
    <section class="ingresar-content">
        <label class="title">INGRESAR</label>

        <form class="crear-form">
            <div>
                <label for="correo">Correo: </label>
                <input id="correo" type="text" [(ngModel)]="loginUser.email" ngDefaultControl name="email" />
            </div>

            <div>
                <label for="contraseña">Contraseña: </label>
                <input id="contraseña" type="password" [(ngModel)]="loginUser.password" ngDefaultControl name="password" />
            </div>

            <button class="btn btn-success" (click)="login()">Ingresar</button>
        </form>
    </section>

    <section class="ingresar-content">
        <label class="title">REGISTRAR</label>

        <form class="crear-form">
            <div>
                <label for="nombre">Nombre: </label>
                <input id="nombre" type="text" [(ngModel)]="createdUser.nombre" ngDefaultControl name="name" />
            </div>

            <div>
                <label for="correo">Correo: </label>
                <input id="correo" type="text" [(ngModel)]="createdUser.email" ngDefaultControl name="email" />
            </div>

            <div>
                <label for="contraseña">Contraseña: </label>
                <input id="contraseña" type="password" [(ngModel)]="createdUser.password" ngDefaultControl name="password" />
            </div>

            <button class="btn btn-success" (click)="crearUsuario()">
        Registrar
      </button>
        </form>
    </section>
</article>