.reserva-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  font-family: Inconsolata, serif;

  .reserva-title {
    font-weight: bold;
    font-size: 2em;
  }

  .reserva-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px;
    width: 100%;

    .reserva-card {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 350px;
      height: 250px;
      box-shadow: rgba(0, 0, 0, 0.05) 0 6px 24px 0, rgba(0, 0, 0, 0.08) 0 0 0 1px;

      .title {
        font-weight: bold;
      }

      .reserva-producto {
        width: 100%;
        padding: 0 40px;
        display: flex;
        justify-content: space-between;
        box-shadow: rgba(0, 0, 0, 0.05) 0 1px 2px 0;
      }

      .text-pendiente {
        color: #1e6f5c;
      }
    }
  }
}
