<article class="main-container">
  <section class="principal">
    <img src="../../../assets/img/fondo1.png" alt="" />
    <h2>SERVICIOS</h2>
    <div class="informacion">
      <div class="info">
        <fa-icon [icon]="pruebaIcono1"></fa-icon>
        <h3>Atencion Farmaceutica</h3>
        <p>
          Información sobre tus problemas de salud, control periódico de tus
          tratamientos, seguimiento del embarazo y mucho más.
        </p>
      </div>
      <div class="info">
        <fa-icon [icon]="pruebaIcono2"></fa-icon>
        <h3>titulo</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veritatis
          ipsum modi, doloremque sapiente similique optio cupiditate magnam,
          tenetur quis quidem voluptatum, nobis suscipit. Aliquid consectetur
          repellat quod minus eos! Tempora.
        </p>
      </div>
      <div class="info">
        <fa-icon [icon]="pruebaIcono3"></fa-icon>
        <h3>titulo</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veritatis
          ipsum modi, doloremque sapiente similique optio cupiditate magnam,
          tenetur quis quidem voluptatum, nobis suscipit. Aliquid consectetur
          repellat quod minus eos! Tempora.
        </p>
      </div>
      <div class="info">
        <fa-icon [icon]="pruebaIcono4"></fa-icon>
        <h3>chat bot</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veritatis
          ipsum modi, doloremque sapiente similique optio cupiditate magnam,
          tenetur quis quidem voluptatum, nobis suscipit. Aliquid consectetur
          repellat quod minus eos! Tempora.
        </p>
      </div>
    </div>
  </section>

  <section class="referencia">
    <div class="ubicacion">
      <div id="mapa-mapbox"></div>
      <div>
        <app-chat> </app-chat>
      </div>
    </div>
    <div class="informacion">informacion</div>
  </section>
</article>
