<section class="navbar">
    <div class="logo">
        <img src="../../../assets/img/logo.png" alt="" />
    </div>
    <div class="option" routerLink="servicio" routerLinkActive="activo">
        Servicio
    </div>
    <div class="option" routerLink="oferta" routerLinkActive="activo">Oferta</div>
    <div class="option" routerLink="producto" routerLinkActive="activo">
        Productos
    </div>
    <div class="option" routerLink="consulta" routerLinkActive="activo">
        Consultas
    </div>
    <div class="iconos">
        <a href="http://www.facebook.com">
            <fa-icon class="facebook" [icon]="facebookIcon"></fa-icon>
        </a>
        <a href="https://twitter.com/">
            <fa-icon class="twitter" [icon]="twitterIcon"></fa-icon>
        </a>
        <a href="https://www.instagram.com">
            <fa-icon class="instagram" [icon]="instagramIcon"></fa-icon>
        </a>
    </div>
    <div class="btn-login">
        <button *ngIf="!isLogged" class="btn btn-info" routerLink="registro">
      Login
    </button>

        <label *ngIf="isLogged" (click)="salir()">{{ userName }}</label>
    </div>
</section>