<article class="secure-container">
  <section class="secure-menu">
    <button class="atras">
      <fa-icon class="exit" [icon]="iconBack" (click)="exit()" routerLink="public"></fa-icon>

      <label class="nombre">
        {{nombre}}
        <fa-icon [icon]="iconUser"></fa-icon>
      </label>
    </button>

    <div class="secure-item" routerLink="usuarios" routerLinkActive="active">
      <fa-icon [icon]="iconUser"></fa-icon>

      <label>Usuarios</label>
    </div>

    <div class="secure-item" routerLink="ventas" routerLinkActive="active">
      <fa-icon [icon]="iconVenta"></fa-icon>

      <label>Ventas</label>
    </div>

    <div class="secure-item" routerLink="reservas" routerLinkActive="active">
      <fa-icon [icon]="iconReserva"></fa-icon>

      <label>Reservas</label>
    </div>

    <div class="secure-item" routerLink="inventario" routerLinkActive="active">
      <fa-icon [icon]="iconInventario"></fa-icon>

      <label>Inventario</label>
    </div>

    <div class="secure-item" routerLink="historial" routerLinkActive="active">
      <fa-icon [icon]="iconHistorial"></fa-icon>

      <label>Historial</label>
    </div>
  </section>

  <section class="secure-content">
    <router-outlet></router-outlet>
  </section>
</article>
