<article class="inventario-container">
  <section class="inventario-header">
    <input type="text" placeholder="nombre">

    <input type="text" placeholder="laboratorio">

    <input type="text" placeholder="medida">

    <input type="text" placeholder="tipo">

    <input type="text" placeholder="precio">

    <input type="text" placeholder="dosis">

    <input type="text" placeholder="fecha vencimiento">

    <input type="text" placeholder="descripcion">
  </section>

  <section class="inventario-body">
    <div class="title">
      <label>Nombre</label>

      <label>Laboratorio</label>

      <label>Medida</label>

      <label>Tipo</label>

      <label>Precio</label>

      <label>Dosis</label>

      <label>Fecha de Vencimiento</label>

      <label>Descripcion</label>
    </div>

    <div class="content">

    </div>
  </section>
</article>
