<section class="info-content">
  <div class="info" routerLink="products">
    <fa-icon class="products-icon" [icon]="capsulesIcon"></fa-icon>

    <h3>Productos</h3>

    <p>Revisa nuestros productos en nuestro catalogo y haz tu PreReserva y pagala online.</p>
  </div>

  <div class="info" routerLink="mapa">
    <fa-icon class="map-icon" [icon]="mapIcon"></fa-icon>

    <h3>Ubicacion</h3>

    <p>
      Información sobre tus problemas de salud, control periódico de tus tratamientos, seguimiento del embarazo y mucho
      más.
    </p>
  </div>

  <div class="info">
    <fa-icon class="robot-icon" [icon]="robotIcon"></fa-icon>

    <h3>Consultas</h3>

    <p>
      ¿Tienes dudas sobre nuestros productos, precios, ubicacion, horarios de atencion, etc? Yo respondere tus dudas 😉
      😉
    </p>
  </div>
</section>
