<main class="products-content" *ngIf="!comprarSW">
  <div class="products-header">
    <fa-icon [icon]="backIcon" routerLink="public"></fa-icon>

    <label class="title">PRODUCTOS</label>

    <input type="text" [(ngModel)]="item" (keyup.enter)="buscar()"/>

    <button class="btn btn-warning" (click)="comprar()">
      <label class="cantidad" ngDefaultControl [(ngModel)]="cantidad">{{cantidad}}</label>

      <fa-icon [icon]="shopIcon"></fa-icon>
    </button>
  </div>

  <article class="productos-container" *ngIf="item === ''">
    <section class="medicamento-card" *ngFor="let medicamento of medicamentos" (click)="addToCart(medicamento)">
      <fa-icon [icon]="pillIcon"></fa-icon>
      <label class="title">{{ medicamento.nombre_generico }}</label>
      <label>Precio: {{ medicamento.precio }} Bs</label>
      <label>Tipo: {{ medicamento.tipo }}</label>
      <label>Laboratorio: {{ medicamento.laboratorio }}</label>
    </section>
  </article>

  <article class="productos-container" *ngIf="item !== ''">
    <section class="medicamento-card" *ngFor="let medicamento of searchMedicamentos" (click)="addToCart(medicamento)">
      <fa-icon [icon]="pillIcon"></fa-icon>
      <label class="title">{{ medicamento.nombre_generico }}</label>
      <label>Precio: {{ medicamento.precio }} Bs</label>
      <label>Tipo: {{ medicamento.tipo }}</label>
      <label>Laboratorio: {{ medicamento.laboratorio }}</label>
    </section>
  </article>
</main>

<app-shop [buyItems]="buyItems" *ngIf="comprarSW"></app-shop>
